numpy
pandas
scikit-learn
matplotlib
seaborn
fastapi
uvicorn
pymongo
python-dotenv
mlflow
dagshub
requests
boto3
botocore
dill
joblib
flask
flask-cors
jinja2
markupsafe
itsdangerous
werkzeug
click
pytest
python-multipart